*dependency-reduced-pom.xml
.classpath
.project
.settings/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
target/
Servers/
devenv
/logs/
*.log*
*.iml
.idea/
*.versionsBackup
!NOTICE-BIN
!LICENSE-BIN
.DS_Store